/* Formatting for each div (element) */
/*  */

body {
    background-color: rgba(93, 255, 29, 0.842);
}

#idContainer {
    border: 5px solid black;
    width: 225px;
    padding: 20px;
    margin: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px 150px;
}

.panel {
    background-color: white;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

.card {
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.card > * {
    margin: 15px 3px 5px 3px;
}
